.note{
    background-color: rgb(3,15,31);
    text-align: left;
    margin: 0 auto;
    width: 18%;
    margin-bottom: 20px;
    padding-top: 6px;
    
}

.title{
    color: rgb(189,189,189);
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
    padding-left: 8px;
    
}

.title:hover{
    color: rgb(194, 165, 3);
}

.date{
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 8px;
}

.delete{
   padding: 5px;
   font-size: 14pt;
    width: 100%;
    background-color: rgb(4,26,58);
    color: rgb(189,189,189);
    border: none;
}

.delete:hover{
    background-color: rgb(207, 1, 1);
    cursor: pointer;
}